<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">

    <div class="x_title">
      <h2>Your Profile<small>User profile</small></h2>

      <ul class="nav navbar-right panel_toolbox">
        <li><a href="/mentor/mentorEdit">Edit</a></li>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

    <div class="col-xs-12">
      <div class="form-horizontal form-label-left">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden" style="border: 0px solid grey">{{mentor.firstName}}</p>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden">{{mentor.lastName}}</p>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNumber">Phone Number</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden">{{mentor.phoneNumber}}</p>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skypeUsername">Skype Username</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden">{{mentor.skypeUsername}}</p>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skypeUsername">Biography</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden">{{mentor.biography}}</p>
        </div>
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school">Major(s)</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <p class="form-control-hidden">{{studentMajors}}</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
