<div class="container">
  <div class="row" id="forms">
    <div class="col-md-12">
      <h4>Confirmation Status: {{InProgress}}</h4>
    </div>
    <div class="col-md-12">
      <div class="col-sm-8 col-sm-offset-2">
        <!--               first name -->
        <div class="col-sm-3"> <label>First Name: </label></div>

        <div class="col-sm-9">
          <span name="firstName" placeholder="First Name" class="spanStyle">
            {{mentor.firstName}}
          </span>
        </div>
      </div>
    </div>
    <!--         last name -->
    <div class="col-md-12">
      <div class="col-sm-8 col-sm-offset-2">

        <div class="col-sm-3"> <label>Last Name: </label> </div>
        <div class="col-sm-9">
          <span name="lastName" placeholder="Last Name" class="spanStyle">
            {{mentor.lastName}}
          </span>
        </div>
      </div>
    </div>
    <!--         Phone Number -->
    <div class="col-md-12">
      <div class="col-sm-8 col-sm-offset-2">

        <div class="col-sm-3"> <label>Phone Number: </label> </div>
        <div class="col-sm-9">
          <span placeholder="(911)-911-9111" class="spanStyle" >
            {{mentor.phoneNumber}}
          </span>
        </div>
      </div>
    </div>
    <!--         skype username -->
    <div class="col-md-12">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-3"><label>Skype Username</label></div>
        <div class="col-sm-9">
          <span placeholder="Skype Username" class="spanStyle" >
            {{mentor.skypeUsername}}
          </span>
        </div>
      </div>
    </div>
    <!--         bio -->
    <div class="col-md-12">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="col-sm-3"> <label>Biography: </label> </div>
        <div class="col-sm-9">
          <span name="bio" placeholder="Biography" class="spanStyle" >{{mentor.biography}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
