<div class="container">
  <div class="row" id="forms">
    <div class="col-md-12">
    </div>
    <form>
      <div class="col-md-12">
        <div class="col-sm-8 col-sm-offset-2">

          <!--               first name -->
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">First Name</span>
            <input type="text" class="form-control" value={{{student.firstName}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Last Name</span>
            <input type="text" class="form-control" value={{{student.lastName}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Phone num</span>
            <input type="text" class="form-control" value={{{student.phoneNumber}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Skype ID</span>
            <input type="text" class="form-control" value={{{student.skypeID}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Biography</span>
            <input type="text" class="form-control" value={{{student.bio}}}>
          </div>
          <br/>
        </form>
          <!--               submit -->
          <div class="col-sm-12 col-sm-offset-4">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
        <!--       panel end -->
      </div>
    </div>
  </div>
