{{#if error}}
<div class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{{/if}}

<br>

<form method="post" action="/student/profile/edit" id="profile_edit" data-parsley-validate class="form-horizontal form-label-left">

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">First Name <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="firstName" type="text" required="required" class="form-control col-md-7 col-xs-12" value={{student.firstName}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">Last Name <span class="required">*</span>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="lastName" type="text" required="required" class="form-control col-md-7 col-xs-12" value={{student.lastName}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNumber">Phone Number</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="phoneNumber" class="form-control col-md-7 col-xs-12" type="text" value={{student.phoneNumber}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skypeUsername">Skype Username</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="skypeUsername" class="form-control col-md-7 col-xs-12" type="text" value={{student.skypeUsername}}>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="typeOfStudent">Level of Study <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="typeOfStudent" required="required" class="form-control" value="masters">
        <option value="">Choose option</option>
        <option {{#is student.typeOfStudent 'undergraduate'}}selected{{/is}} value="undergraduate">Undergraduate</option>
        <option {{#is student.typeOfStudent 'graduate'}}selected{{/is}} value="graduate">Graduate</option>
        <option {{#is student.typeOfStudent 'masters'}}selected{{/is}} value="masters">Masters</option>
        <option {{#is student.typeOfStudent 'phd'}}selected{{/is}} value="phd">PhD</option>
        <option {{#is student.typeOfStudent 'mba'}}selected{{/is}} value="mba">MBA</option>
        <option {{#is student.typeOfStudent 'other'}}selected{{/is}} value="other">Other</option>`
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school">School <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="school" required="required" class="select2_multiple form-control" multiple="multiple">
        <option value="">Choose option</option>
        <option {{#contains studentSchools 'seas'}}selected{{/contains}} value="seas">SEAS</option>
        <option {{#contains studentSchools 'sas'}}selected{{/contains}} value="sas">SAS</option>
        <option {{#contains studentSchools 'wharton'}}selected{{/contains}} value="wharton">Wharton</option>
        <option {{#contains studentSchools 'med'}}selected{{/contains}} value="med">Med</option>
        <option {{#contains studentSchools 'law'}}selected{{/contains}} value="law">Law</option>
        <option {{#contains studentSchools 'gse'}}selected{{/contains}} value="gse">GSE</option>
        <option {{#contains studentSchools 'other'}}selected{{/contains}} value="other">Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expectedYearOfGraduation">Year of Graduation <span class="required">*</span></label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select name="expectedYearOfGraduation" required="required" class="form-control">
        <option value="">Choose option</option>
        <option {{#is student.expectedYearOfGraduation '2017'}}selected{{/is}} value="2017">2017</option>
        <option {{#is student.expectedYearOfGraduation '2018'}}selected{{/is}} value="2018">2018</option>
        <option {{#is student.expectedYearOfGraduation '2019'}}selected{{/is}} value="2019">2019</option>
        <option {{#is student.expectedYearOfGraduation '2020'}}selected{{/is}} value="2020">2020</option>
        <option {{#is student.expectedYearOfGraduation '2021'}}selected{{/is}} value="2021">2021</option>
        <option {{#is student.expectedYearOfGraduation '2022'}}selected{{/is}} value="2022">2022</option>
        <option {{#is student.expectedYearOfGraduation 'other'}}selected{{/is}} value="other">Other</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="school">Majors</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input name="major" id="tags_major_1" type="text" class="tags form-control" value="{{studentMajors}}" />
      <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
      <button class="btn btn-primary" type="reset">Reset</button>
      <button type="submit" class="submit btn btn-success">Submit</button>
    </div>
  </div>

</form>
