<div class="container">
  <div class="row" id="forms">
    <div class="col-md-12">
    </div>
    <form>
      <div class="col-md-12">
        <div class="col-sm-8 col-sm-offset-2">
          <!--               first name -->
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Email</span>
            <input type="text" class="form-control" value={{{team.email}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Team Name</span>
            <input type="text" class="form-control" value={{{team.name}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Project Name</span>
            <input type="text" class="form-control" value={{{team.projectName}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Project Idea</span>
            <input type="text" class="form-control" value={{{team.projectIdea}}}>
          </div>
          <br/>

          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Member 1</span>
            <input type="text" class="form-control" value={{{team.member1}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Member 1's Email</span>
            <input type="text" class="form-control" value={{{team.member1Email}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Member 2</span>
            <input type="text" class="form-control" value={{{team.member2}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Member 2's Email</span>
            <input type="text" class="form-control" value={{{team.member2Email}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Member 3</span>
            <input type="text" class="form-control" value={{{team.member3}}}>
          </div>
          <br/>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Member 3's Email</span>
            <input type="text" class="form-control" value={{{team.member3email}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Deck Link</span>
            <input type="text" class="form-control" value={{{team.deckLink}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Video Link</span>
            <input type="text" class="form-control" value={{{team.videoLink}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Team Strength</span>
            <input type="text" class="form-control" value={{{team.strength}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Team Weakness</span>
            <input type="text" class="form-control" value={{{team.weakness}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Team Logo</span>
            <input type="file" accept="image/*" class="form-control" value={{{team.logo}}}>
          </div>
          <br/>
          <div class="input-group input-group-md">
            <span class="input-group-addon" id="basic-addon1">Mentor requested Categories</span>
            <input type="text" class="form-control" value={{{team.mentorCategory}}}>
          </div>
          <br/>
          <!--               submit -->
          <div class="col-sm-12 col-sm-offset-4">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
        <!--       panel end -->
      </div>
    </div>
  </div>
