<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">

    <div class="x_title">
      <div class="text-center">
        <h1>Edit Team</h1>
      </div>
      <ul class="nav navbar-right panel_toolbox">
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <div class="col-xs-12">

        {{#if error}}
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{error}}
        </div>
        {{/if}}

        <br>

        <form method="post" action="/student/team/create" id="profile_edit" data-parsley-validate class="form-horizontal form-label-left">

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teamName">Team Name <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="teamName" type="text" required="required" class="form-control col-md-7 col-xs-12" value={{team.teamName}}>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectName">Project Name <span class="required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="projectName" type="text" required="required" class="form-control col-md-7 col-xs-12" value={{team.projectName}}>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phoneNumber">Project Description</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea name="projectDescription" class="form-control col-md-7 col-xs-12" type="text" value={{team.projectDescription}}>{{team.projectDescription}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Team Password <span class="required">*</span></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="password" type="password" required="required"  class="form-control col-md-7 col-xs-12" value={{team.password}}>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deckLink">Deck Link</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="deckLink" class="form-control col-md-7 col-xs-12" type="text" value={{team.deckLink}}>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="videoLink">Video Link</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="videoLink" class="form-control col-md-7 col-xs-12" type="text" value={{team.videoLink}}>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="expertise">Mentor Expertise Request</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select name="expertise" class="select2_multiple form-control" multiple="multiple">
                <option {{#contains teamMentorExpertiseRequested 'finance'}}selected{{/contains}} value="finance">Finance</option>
                <option {{#contains teamMentorExpertiseRequested 'business'}}selected{{/contains}} value="business">Business</option>
                <option {{#contains teamMentorExpertiseRequested 'entrepreneurship'}}selected{{/contains}} value="entrepreneurship">Entrepreneurship</option>
                <option {{#contains teamMentorExpertiseRequested 'technology'}}selected{{/contains}} value="technology">Technology</option>
                <option {{#contains teamMentorExpertiseRequested 'biology'}}selected{{/contains}} value="biology">Biology</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="strength">Team Strengths</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="strength" id="tags_team_strength_1" type="text" class="tags form-control" value="{{teamStrengths}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="weakness">Team Weaknesses</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input name="weakness" id="tags_team_weakness_1" type="text" class="tags form-control" value="{{teamWeaknesses}}" />
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <a href="/team/profile" type="button" class="btn btn-primary">Cancel</a>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="submit btn btn-success">Submit</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
